In [2]:
%matplotlib inline
from IPython.display import Image, HTML
import json
import datetime
import ast
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

In [ ]:
'''
%matplotlib inline
from IPython.display import Image, HTML
import json
import datetime
import ast
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
from sklearn.ensemble import GradientBoostingClassifier, GradientBoostingRegressor
from sklearn.dummy import DummyClassifier, DummyRegressor
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier, XGBRegressor
from wordcloud import WordCloud, STOPWORDS
import plotly
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import warnings
sns.set_style('whitegrid')
sns.set(font_scale=1.25)
pd.set_option('display.max_colwidth', 50)
'''

In [2]:
df8 = pd.read_csv('./datastreams/08_indicadores_macroeconÃ³micos.csv')
df8
## lo que nos muestra que el datastream de indicadores macroeconomicos no es relevante y esta desactualizado
# vistas las otras tablas la informacion llega hasta el aÃ±o 2022, por eso no se tiene en cuenta.

     AÃ±o  Trimestre  IPC US  IPC AR USDARS oficial USDARS blue PBI millones
0   2013          1  232773     298           5,00        9,00    2.888.981
1   2013          2  233504     309           5,00        9,00    3.387.811
2   2013          3  234149     331           6,00       10,00    3.436.547
3   2013          4  233049     351           6,00       11,00    3.679.896
4   2014          1  236293     402           8,00       11,00    3.917.649
5   2014          2  238343     433           8,00       13,00    4.702.630
6   2014          3  238031     461           8,00       14,00    4.685.503
7   2014          4  234812     491           9,00       13,00    5.010.564
8   2015          1  236119     518           9,00       13,00    5.092.694
9   2015          2  238638     549           9,00       15,00    5.951.479
10  2015          3  237945     584           9,00       15,00    6.221.731
11  2015          4  236525     621          10,00       15,00    6.552.140
12  2016          1  238132     697          14,00       15,00    6.962.845
13  2016          2  241038     751          14,00       15,00    8.401.125
14  2016          3  241428     791          15,00       16,00    8.448.890
15  2016          4  241432     833          15,00       16,00    8.942.135
16  2017          1  243801     880          16,00       16,00    9.157.377
17  2017          2  244955     925          16,00       18,00   10.595.155
18  2017          3  246819     963          17,00       18,00   10.937.240
19  2017          4  246524    1014          18,00       20,00   11.533.613
20  2018          1  249554    1083          20,00       24,00   11.975.804
21  2018          2  251989    1169          24,00       29,00          NaN

In [3]:
df4 = pd.read_csv('./datastreams/04_accesos_a_internet_fijo_por_tecnologÃ­a_y_localidad.csv')
df4

,Unnamed: 0,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873.000,4.704,0.0,2.000,0.0,975,0,664.0,7.218
1,1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181.000,0,0.0,0.000,10.0,1,0,0.0,192
2,2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0.000,0,0.0,0.000,0.0,0,0,181.0,181
3,3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,0.000,782,0.0,6.000,167.0,0,0,327.0,1.282
4,4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,0.000,0,0.0,0.000,0.0,0,0,6.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,3137,TUCUMAN,TafÃ­ Viejo,Villa Mariano Moreno - El Colmenar,90105100,0.000,1,0.0,471.000,0.0,0,0,0.0,472
3138,3138,TUCUMAN,Trancas,San Pedro de Colalao,90112020,0.000,0,0.0,0.000,0.0,0,0,313.0,313
3139,3139,TUCUMAN,Trancas,Villa de Trancas,90112030,150.000,0,0.0,0.000,33.0,0,0,99.0,282
3140,3140,TUCUMAN,Yerba Buena,Villa Carmela,90119020,1.725,0,0.0,0.000,1.0,0,0,97.0,1.823
3141,3141,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,129.000,203,0.0,15.511,33.0,0,0,0.0,15.876

- Se puede observar que en el dataframe habÃ­an valores que deben ser cero pero estan registrados - 0 se reemplazan
  con solo el numero 0 pero al final cometi el error de solucionar ese error pero grabe el archivo de exportaciÃ³n con el mismo
  nombre

In [4]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     3142 non-null   int64
 1   Provincia      3142 non-null   object
 2   Partido        3142 non-null   object
 3   Localidad      3142 non-null   object
 4   Link Indec     3142 non-null   object
 5   ADSL           3142 non-null   float64
 6   CABLEMODEM     3142 non-null   object
 7   DIAL UP        3142 non-null   float64
 8   FIBRA OPTICA   3142 non-null   float64
 9   OTROS          3142 non-null   float64
 10  SATELITAL      3142 non-null   int64
 11  WIMAX          3142 non-null   int64
 12  WIRELESS       3142 non-null   float64
 13  Total general  3142 non-null   object
dtypes: float64(5), int64(3), object(6)
memory usage: 343.8+ KB

In [5]:
df4.columns

Index(['Unnamed: 0', 'Provincia', 'Partido', 'Localidad', 'Link Indec', 'ADSL',
       'CABLEMODEM', 'DIAL UP', 'FIBRA OPTICA', 'OTROS', 'SATELITAL', 'WIMAX',
       'WIRELESS', 'Total general'],
      dtype='object')

- Algunas columnas son object cuando deberÃ­an ser float. Es que los puntos estÃ¡n funcionando como separadores de miles. Por lo tanto, los tengo que eliminar para que pasen a valores enteros.

In [6]:
columnas = ['ADSL', 'CABLEMODEM', 'DIAL UP', 'FIBRA OPTICA', 'OTROS', 'SATELITAL','WIMAX', 'WIRELESS' ]

In [7]:
for col in columnas:
    df4[col] = df4[col].replace("nan", '0')    
    df4[col] = df4[col].astype(str).str.replace('.', '')
    df4[col] = pd.to_numeric(df4[col], downcast='integer')

C:\Users\araqu\AppData\Local\Temp\ipykernel_9900\1884540719.py:3: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [8]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     3142 non-null   int64
 1   Provincia      3142 non-null   object
 2   Partido        3142 non-null   object
 3   Localidad      3142 non-null   object
 4   Link Indec     3142 non-null   object
 5   ADSL           3142 non-null   int32
 6   CABLEMODEM     3142 non-null   int32
 7   DIAL UP        3142 non-null   int16
 8   FIBRA OPTICA   3142 non-null   int32
 9   OTROS          3142 non-null   int16
 10  SATELITAL      3142 non-null   int16
 11  WIMAX          3142 non-null   int16
 12  WIRELESS       3142 non-null   int16
 13  Total general  3142 non-null   object
dtypes: int16(5), int32(3), int64(1), object(5)
memory usage: 214.9+ KB

In [9]:
#Unnamed: 0
df4 = df4.drop('Unnamed: 0', axis=1)

In [12]:
# quedamos con un dataset listo para ser usado por alguna herramienta de visualizacion
df4.to_csv('./accesos_a_internet_fijo_por_tecnologÃ­a_y_localidad.csv', index=False)

In [13]:
df15 = pd.read_csv('./datastreams/15_total_nacional_de_accesos_a_internet_fijo_por_tipo_de_tecnologÃ­a.csv')
df15

,AÃ±o,Trimestre,ADSL,Cablemodem,Fibra Ã³ptica,Wireless,Otros,Total,Periodo
0,2022,3,1395277,6031970,2871541,557.11,235.23,11091128,Jul-Sept 2022
1,2022,2,1468333,5979214,2723285,556243.00,231609.00,10958684,Abr-Jun 2022
2,2022,1,1533240,6073426,2219533,545814.00,251996.00,10624009,Ene-Mar 2022
3,2021,4,1657615,5984240,2072236,523107.00,252596.00,10489794,Oct-Dic 2021
4,2021,3,1950631,5826257,1566048,492415.00,250.19,10085541,Jul-Sept 2021
5,2021,2,2018587,5641731,1472246,476968.00,253552.00,9863084,Abr-Jun 2021
6,2021,1,2175211,5424782,1362976,434548.00,250455.00,9647972,Ene-Mar 2021
7,2020,4,2213949,5371824,1311199,421554.00,253036.00,9571562,Oct-Dic 2020
8,2020,3,2263889,5259351,1170879,413259.00,248821.00,9356199,Jul-Sept 2020
9,2020,2,2295533,5005115,1106725,376667.00,247016.00,9031056,Abr-Jun 2020
10,2020,1,2299457,4903674,1047817,352333.00,209145.00,8812426,Ene-Mar 2020
11,2019,4,2414575,4883869,941295,340144.00,213298.00,8793181,Oct-Dic 2019
12,2019,3,2909805,4800091,852221,338241.00,264326.00,9164684,Jul-Sept 2019
13,2019,2,2990457,4635575,760794,308027.00,265328.00,8960181,Abr-Jun 2019
14,2019,1,3132789,4435439,637099,276419.00,166389.00,8648135,Ene-Mar 2019
15,2018,4,3329027,4313831,388013,264299.00,178485.00,8473655,Oct-Dic 2018
16,2018,3,3521447,4238171,247366,246181.00,93870.00,8347035,Jul-Sept 2018
17,2018,2,3557216,4038141,226285,194267.00,94535.00,8110444,Abr-Jun 2018
18,2018,1,3574294,3981129,217460,165300.00,98870.00,8037053,Ene-Mar 2018
19,2017,4,3584311,3818157,211425,155775.00,100554.00,7870222,Oct-Dic 2017
20,2017,3,3622575,3670221,193964,106443.00,131740.00,7724943,Jul-Sept 2017
21,2017,2,3723518,3383434,180777,85813.00,56122.00,7429664,Abr-Jun 2017
22,2017,1,3708898,3276251,180146,84813.00,55746.00,7305854,Ene-Mar 2017
23,2016,4,3722794,3210602,178070,85119.00,55088.00,7251673,Oct-Dic 2016
24,2016,3,3776442,3124855,169898,81455.00,54300.00,7206950,Jul-Sept 2016
25,2016,2,3782085,3035272,167788,85452.00,59482.00,7130079,Abr-Jun 2016
26,2016,1,3792493,2806359,164371,85370.00,58763.00,6907356,Ene-Mar 2016
27,2015,4,3803024,2898226,139187,85726.00,58668.00,6984831,Oct-Dic 2015
28,2015,3,3788696,2840203,162663,84530.00,58976.00,6935068,Jul-Sept 2015
29,2015,2,3767821,2756294,150839,82077.00,59157.00,6816188,Abr-Jun 2015
30,2015,1,3756153,2668248,168188,79098.00,66045.00,6737732,Ene-Mar 2015
31,2014,4,3764038,2536219,149682,76984.00,71573.00,6598496,Oct-Dic 2014
32,2014,3,3714764,2569868,155494,85096.00,70049.00,6595271,Jul-Sept 2014
33,2014,2,3708882,2461670,149363,72405.00,72148.00,6464468,Abr-Jun 2014
34,2014,1,3697066,2407330,150323,70749.00,72930.00,6398398,Ene-Mar 2014

In [14]:
df15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AÃ±o           35 non-null     int64
 1   Trimestre     35 non-null     int64
 2   ADSL          35 non-null     int64
 3   Cablemodem    35 non-null     int64
 4   Fibra Ã³ptica  35 non-null     int64
 5   Wireless      35 non-null     float64
 6   Otros         35 non-null     float64
 7   Total         35 non-null     int64
 8   Periodo       35 non-null     object
dtypes: float64(2), int64(6), object(1)
memory usage: 2.6+ KB

In [16]:
columnas = ['Otros', 'Wireless' ]
for col in columnas:
    df15[col] = df15[col].replace("nan", '0')    
    df15[col] = df15[col].astype(str).str.replace('.', '')
    df15[col] = pd.to_numeric(df15[col], downcast='integer')

C:\Users\araqu\AppData\Local\Temp\ipykernel_9900\3945872804.py:4: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [17]:
df15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AÃ±o           35 non-null     int64
 1   Trimestre     35 non-null     int64
 2   ADSL          35 non-null     int64
 3   Cablemodem    35 non-null     int64
 4   Fibra Ã³ptica  35 non-null     int64
 5   Wireless      35 non-null     int32
 6   Otros         35 non-null     int32
 7   Total         35 non-null     int64
 8   Periodo       35 non-null     object
dtypes: int32(2), int64(6), object(1)
memory usage: 2.3+ KB

In [2]:
df15 = pd.read_csv('./total_nacional_de_accesos_a_internet_fijo_por_tipo_de_tecnologÃ­a.csv')

In [5]:
df15 = df15.drop('Periodo', axis=1)

In [6]:
df15.to_csv('./total_nacional_de_accesos_a_internet_fijo_por_tipo_de_tecnologÃ­a.csv', index=False)

In [8]:
df7 = pd.read_csv('./datastreams/07_conectividad_al_servicio_de_internet.csv')
df7

,Unnamed: 0,Partido,Localidad,Unnamed: 3,Unnamed: 4,CABLEMODEM,DIALUP,Unnamed: 7,Unnamed: 8,WIRELESS,TELEFONIAFIJA,Unnamed: 11,Unnamed: 12,link,Latitud,Unnamed: 15
0,NaN,BahÃ­a Blanca,Villa Bordeau,0.0,NaN,--,--,--,NaN,--,--,NaN,SI,6056020.0,"-38,6472605094596",NaN
1,BUENOS AIRES,NaN,NaN,0.0,--,NaN,NaN,--,--,NaN,NaN,--,--,NaN,"-38,7765069529222","-62,1851833537179"
2,BUENOS AIRES,NaN,Balcarce,38376.0,SI,NaN,SI,SI,--,NaN,NaN,SI,SI,6063010.0,NaN,"-58,2551665841248"
3,BUENOS AIRES,NaN,NaN,337.0,--,NaN,NaN,--,--,NaN,SI,NaN,--,6063020.0,"-37,9412057603",NaN
4,BUENOS AIRES,Balcarce,NaN,374.0,--,--,NaN,SI,--,SI,SI,SI,NaN,6063030.0,"-37,6254980210026","-58,7461862359423"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4307,CHACO,NaN,Quitilipi,24517.0,SI,NaN,--,SI,--,NaN,SI,SI,NaN,22133010.0,"-26,8732071732978","-60,2185241226399"
4308,CHACO,Quitilipi,NaN,879.0,--,--,NaN,--,--,SI,--,NaN,NaN,22133020.0,"-26,4551186226266",NaN
4309,CHACO,San Fernando,Barranqueras,NaN,SI,SI,--,NaN,--,SI,SI,SI,SI,NaN,"-27,4877739289761","-58,9327416886365"
4310,NaN,San Fernando,Basail,1929.0,NaN,SI,--,--,NaN,SI,NaN,SI,SI,NaN,NaN,"-59,2791003619491"
4311,CHACO,San Fernando,NaN,336.0,--,--,NaN,--,--,--,--,SI,NaN,22140030.0,"-27,5620449432874","-59,3096911774268"

In [9]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     2871 non-null   object
 1   Partido        2866 non-null   object
 2   Localidad      2884 non-null   object
 3   Unnamed: 3     2879 non-null   float64
 4   Unnamed: 4     2873 non-null   object
 5   CABLEMODEM     2862 non-null   object
 6   DIALUP         2882 non-null   object
 7   Unnamed: 7     2878 non-null   object
 8   Unnamed: 8     2872 non-null   object
 9   WIRELESS       2864 non-null   object
 10  TELEFONIAFIJA  2873 non-null   object
 11  Unnamed: 11    2871 non-null   object
 12  Unnamed: 12    2879 non-null   object
 13  link           2865 non-null   float64
 14  Latitud        2872 non-null   object
 15  Unnamed: 15    2879 non-null   object
dtypes: float64(2), object(14)
memory usage: 539.1+ KB

- si observamos detenidamente la informacion del archivo conectividad_al_servicio_de_internet.csv podemos observar que lo componen 4312 registros pero la mayorÃ­a tiene solamente informaciÃ³n en 2871 y el que mÃ¡s tiene 2879 lo que significa un 2879/4312 = 0.66 solo un 66% de informaciÃ³n por eso no se tendrÃ¡ en cuenta.

In [10]:
df10 = pd.read_csv('./datastreams/10_listado_de_localidades_con_conectividad_a_internet.csv')
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     2876 non-null   object
 1   Partido        2880 non-null   object
 2   Localidad      2866 non-null   object
 3   ADSL           2868 non-null   object
 4   Unnamed: 4     2876 non-null   object
 5   DIALUP         2888 non-null   object
 6   FIBRAOPTICA    2868 non-null   object
 7   4G             2862 non-null   object
 8   Unnamed: 8     2881 non-null   object
 9   TELEFONIAFIJA  2885 non-null   object
 10  Unnamed: 10    2868 non-null   object
 11  SATELITAL      2878 non-null   object
dtypes: object(12)
memory usage: 404.4+ KB

- Mismo caso que en el dataset anterior listado_de_localidades_con_conectividad_a_internet.csv tampoco se va a utilizar

 - Desde este punto ya se hacen modificaciones a los datasets por los valores observados

In [40]:
df1 = pd.read_csv('./datastreams/01_acceso_a_internet_fijo_por_rangos_de_velocidad_de_bajada_y_provincia.csv')
df1

,AÃ±o,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29.985,27.709,290.315,297.915,267.044,124.190,3.618.689,65.821,4.721.668
1,2022,3,Capital Federal,517.000,5.742,34.371,67.829,51.946,28.692,1.253.105,105.477,1.547.679
2,2022,3,Catamarca,71.000,384.000,3.107,5.389,5.099,3.737,50.298,2.208,70.293
3,2022,3,Chaco,461.000,987.000,16.782,18.938,8.049,15.828,79.390,3.711,144.146
4,2022,3,Chubut,109.000,1.444,45.707,30.940,34.682,15.309,17.563,20.024,165.778
...,...,...,...,...,...,...,...,...,...,...,...,...
835,2014,1,Santa Cruz,161.000,1.625,24.972,1.000,1.000,0.000,0,0.000,26.760
836,2014,1,Santa Fe,8.456,124.468,345.225,20.328,6.845,23.000,668,0.000,506.013
837,2014,1,Santiago Del Estero,1.234,10.531,22.817,2.422,109.000,0.000,0,0.000,37.113
838,2014,1,Tierra Del Fuego,12.000,607.000,30.902,6.000,0.000,0.000,0,0.000,31.527
839,2014,1,TucumÃ¡n,6.000,34.672,83.210,11.779,362.000,3.000,0,0.000,130.032

In [41]:
df1[df1['OTROS'].isna()]

,AÃ±o,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
313,2019,2,Capital Federal,74.0,1.027,281.370,124.087,239.691,296.155,475.991,NaN,1.418.395
323,2019,2,La Rioja,9.0,11.000,39.819,4.297,4.857,13.000,1.298,NaN,50.304
324,2019,2,Mendoza,20.0,2.522,205.165,2.971,10.092,1.256,234,NaN,222.260
331,2019,2,Santa Cruz,25.0,84.000,24.861,3.806,1.202,28.000,4,NaN,30.010
334,2019,2,Tierra Del Fuego,6.0,123.000,41.824,4.241,1.573,96.000,32,NaN,47.895
335,2019,2,TucumÃ¡n,16.0,157.000,78.891,44.296,24.291,628.000,18.394,NaN,166.673

In [42]:
df1['OTROS'].fillna(0, inplace=True)
df1[df1['OTROS'].isna()]

Empty DataFrame
Columns: [AÃ±o, Trimestre, Provincia, HASTA 512 kbps, + 512 Kbps - 1 Mbps, + 1 Mbps - 6 Mbps, + 6 Mbps - 10 Mbps, + 10 Mbps - 20 Mbps, + 20 Mbps - 30 Mbps, + 30 Mbps, OTROS, Total]
Index: []

In [44]:
columnas_int = df1.columns.difference(['AÃ±o', 'Trimestre', 'Provincia'])

In [45]:
df1[columnas_int] = df1[columnas_int].applymap( lambda x: str(x).replace('.', ''))

In [46]:
df1[columnas_int] = df1[columnas_int].astype(int)

In [47]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   AÃ±o                  840 non-null    int64
 1   Trimestre            840 non-null    int64
 2   Provincia            840 non-null    object
 3   HASTA 512 kbps       840 non-null    int32
 4   + 512 Kbps - 1 Mbps  840 non-null    int32
 5   + 1 Mbps - 6 Mbps    840 non-null    int32
 6   + 6 Mbps - 10 Mbps   840 non-null    int32
 7   + 10 Mbps - 20 Mbps  840 non-null    int32
 8   + 20 Mbps - 30 Mbps  840 non-null    int32
 9   + 30 Mbps            840 non-null    int32
 10  OTROS                840 non-null    int32
 11  Total                840 non-null    int32
dtypes: int32(9), int64(2), object(1)
memory usage: 49.3+ KB

In [48]:
df1.head()

,AÃ±o,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29985,27709,290315,297915,267044,12419,3618689,65821,4721668
1,2022,3,Capital Federal,5170,5742,34371,67829,51946,28692,1253105,105477,1547679
2,2022,3,Catamarca,710,3840,3107,5389,5099,3737,50298,2208,70293
3,2022,3,Chaco,4610,9870,16782,18938,8049,15828,79390,3711,144146
4,2022,3,Chubut,1090,1444,45707,3094,34682,15309,17563,20024,165778

In [49]:
df1.to_csv('./acceso_a_internet_fijo_por_rangos_de_velocidad_de_bajada_y_provincia',index=False)

In [15]:
df5 = pd.read_csv('./datastreams/05_accesos_a_internet_fijo_por_velocidad_bajada__y_provincia.csv')
df5

,AÃ±o,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps
0,2022.0,3.0,Buenos Aires,"65,821",19,- 0,- 0,"29,774",192,"4,611",...,"3,163",- 0,"98,387",- 0,2,223,- 0,1,- 0,- 0
1,2022.0,3.0,Capital Federal,"105,477",31,- 0,- 0,451,35,"1,307",...,3,- 0,"30,482",- 0,- 0,8,- 0,- 0,- 0,- 0
2,2022.0,3.0,Catamarca,"2,208",- 0,- 0,- 0,34,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022.0,3.0,Chaco,"3,711",- 0,225,111,234,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022.0,3.0,Chubut,"20,024",8,- 0,- 0,69,32,836,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,2017.0,4.0,Santa Fe,"14,119",- 0,- 0,- 0,"3,109",- 0,"7,637",...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
477,2017.0,4.0,Santiago Del Estero,- 0,- 0,- 0,- 0,41,- 0,909,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
478,2017.0,4.0,Tierra Del Fuego,- 0,- 0,- 0,- 0,6,- 0,282,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
479,2017.0,4.0,TucumÃ¡n,- 0,- 0,- 0,- 0,105,- 0,1,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 97 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AÃ±o         480 non-null    float64
 1   Trimestre   480 non-null    float64
 2   Provincia   480 non-null    object
 3   Otros       480 non-null    object
 4   0,256 Mbps  480 non-null    object
 5   0,375 Mbps  480 non-null    object
 6   0,625 Mbps  480 non-null    object
 7   0,5 Mbps    480 non-null    object
 8   0,512 Mbps  480 non-null    object
 9   0,75 Mbps   480 non-null    object
 10  1 Mbps      480 non-null    object
 11  1,2 Mbps    480 non-null    object
 12  1,25 Mbps   480 non-null    object
 13  1,5 Mbps    480 non-null    object
 14  2 Mbps      480 non-null    object
 15  2,2 Mbps    480 non-null    object
 16  2,5 Mbps    481 non-null    object
 17  6,7 Mbps    480 non-null    object
 18  3 Mbps      480 non-null    object
 19  3,2 Mbps    480 non-null    object
 20  3,3 Mbps    480 non-null    object
 21  3,5 Mbps    480 non-null    object
 22  4 Mbps      480 non-null    object
 23  4,5 Mbps    480 non-null    object
 24  5 Mbps      480 non-null    object
 25  6 Mbps      480 non-null    object
 26  6,4 Mbps    480 non-null    object
 27  7 Mbps      480 non-null    object
 28  7,5 Mbps    480 non-null    object
 29  8 Mbps      480 non-null    object
 30  9 Mbps      480 non-null    object
 31  10 Mbps     480 non-null    object
 32  10,6 Mbps   480 non-null    object
 33  11 Mbps     480 non-null    object
 34  12 Mbps     480 non-null    object
 35  13 Mbps     480 non-null    object
 36  14 Mbps     480 non-null    object
 37  15 Mbps     480 non-null    object
 38  16 Mbps     480 non-null    object
 39  17 Mbps     480 non-null    object
 40  18 Mbps     480 non-null    object
 41  19 Mbps     480 non-null    object
 42  20 Mbps     480 non-null    object
 43  21 Mbps     480 non-null    object
 44  22 Mbps     480 non-null    object
 45  23 Mbps     480 non-null    object
 46  24 Mbps     480 non-null    object
 47  25 Mbps     480 non-null    object
 48  25,1 Mbps   480 non-null    object
 49  25,11 Mbps  480 non-null    object
 50  25,5 Mbps   480 non-null    object
 51  26 Mbps     480 non-null    object
 52  28 Mbps     480 non-null    object
 53  29 Mbps     480 non-null    object
 54  30 Mbps     480 non-null    object
 55  31 Mbps     480 non-null    object
 56  32 Mbps     480 non-null    object
 57  34 Mbps     480 non-null    object
 58  35 Mbps     480 non-null    object
 59  36 Mbps     480 non-null    object
 60  37 Mbps     480 non-null    object
 61  38 Mbps     480 non-null    object
 62  39 Mbps     480 non-null    object
 63  40 Mbps     480 non-null    object
 64  41 Mbps     480 non-null    object
 65  45 Mbps     480 non-null    object
 66  46 Mbps     480 non-null    object
 67  47 Mbps     480 non-null    object
 68  48 Mbps     480 non-null    object
 69  49 Mbps     480 non-null    object
 70  50 Mbps     480 non-null    object
 71  51 Mbps     480 non-null    object
 72  52 Mbps     480 non-null    object
 73  54 Mbps     480 non-null    object
 74  55 Mbps     480 non-null    object
 75  56 Mbps     480 non-null    object
 76  58 Mbps     480 non-null    object
 77  59 Mbps     480 non-null    object
 78  60 Mbps     480 non-null    object
 79  61 Mbps     480 non-null    object
 80  62 Mbps     480 non-null    object
 81  63 Mbps     480 non-null    object
 82  64 Mbps     480 non-null    object
 83  65 Mbps     480 non-null    object
 84  66 Mbps     480 non-null    object
 85  67 Mbps     480 non-null    object
 86  68 Mbps     480 non-null    object
 87  70 Mbps     480 non-null    object
 88  71 Mbps     480 non-null    object
 89  75 Mbps     480 non-null    object
 90  77 Mbps     480 non-null    object
 91  78 Mbps     480 non-null    object
 92  80 Mbps     480 non-null    object
 93  81 Mbps     480 non-null    object
 94  83 Mbps     480 non-null    object
 95  82 Mbps     480 non-null    object
 96  86 Mbps     480 non-null    object
dtypes: float64(2), object(95)
memory usage: 364.6+ KB

In [17]:
df5[df5.AÃ±o.isna()]
# se comprueba que hay un registros con valores nulos

,AÃ±o,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps
480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df5 = df5.dropna(subset=['AÃ±o', 'Trimestre', 'Provincia'], how= 'all')
# se eliminan todos los valores nulos en las columnas aÃ±o, trimestre y provincia

In [19]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 0 to 479
Data columns (total 97 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AÃ±o         480 non-null    float64
 1   Trimestre   480 non-null    float64
 2   Provincia   480 non-null    object
 3   Otros       480 non-null    object
 4   0,256 Mbps  480 non-null    object
 5   0,375 Mbps  480 non-null    object
 6   0,625 Mbps  480 non-null    object
 7   0,5 Mbps    480 non-null    object
 8   0,512 Mbps  480 non-null    object
 9   0,75 Mbps   480 non-null    object
 10  1 Mbps      480 non-null    object
 11  1,2 Mbps    480 non-null    object
 12  1,25 Mbps   480 non-null    object
 13  1,5 Mbps    480 non-null    object
 14  2 Mbps      480 non-null    object
 15  2,2 Mbps    480 non-null    object
 16  2,5 Mbps    480 non-null    object
 17  6,7 Mbps    480 non-null    object
 18  3 Mbps      480 non-null    object
 19  3,2 Mbps    480 non-null    object
 20  3,3 Mbps    480 non-null    object
 21  3,5 Mbps    480 non-null    object
 22  4 Mbps      480 non-null    object
 23  4,5 Mbps    480 non-null    object
 24  5 Mbps      480 non-null    object
 25  6 Mbps      480 non-null    object
 26  6,4 Mbps    480 non-null    object
 27  7 Mbps      480 non-null    object
 28  7,5 Mbps    480 non-null    object
 29  8 Mbps      480 non-null    object
 30  9 Mbps      480 non-null    object
 31  10 Mbps     480 non-null    object
 32  10,6 Mbps   480 non-null    object
 33  11 Mbps     480 non-null    object
 34  12 Mbps     480 non-null    object
 35  13 Mbps     480 non-null    object
 36  14 Mbps     480 non-null    object
 37  15 Mbps     480 non-null    object
 38  16 Mbps     480 non-null    object
 39  17 Mbps     480 non-null    object
 40  18 Mbps     480 non-null    object
 41  19 Mbps     480 non-null    object
 42  20 Mbps     480 non-null    object
 43  21 Mbps     480 non-null    object
 44  22 Mbps     480 non-null    object
 45  23 Mbps     480 non-null    object
 46  24 Mbps     480 non-null    object
 47  25 Mbps     480 non-null    object
 48  25,1 Mbps   480 non-null    object
 49  25,11 Mbps  480 non-null    object
 50  25,5 Mbps   480 non-null    object
 51  26 Mbps     480 non-null    object
 52  28 Mbps     480 non-null    object
 53  29 Mbps     480 non-null    object
 54  30 Mbps     480 non-null    object
 55  31 Mbps     480 non-null    object
 56  32 Mbps     480 non-null    object
 57  34 Mbps     480 non-null    object
 58  35 Mbps     480 non-null    object
 59  36 Mbps     480 non-null    object
 60  37 Mbps     480 non-null    object
 61  38 Mbps     480 non-null    object
 62  39 Mbps     480 non-null    object
 63  40 Mbps     480 non-null    object
 64  41 Mbps     480 non-null    object
 65  45 Mbps     480 non-null    object
 66  46 Mbps     480 non-null    object
 67  47 Mbps     480 non-null    object
 68  48 Mbps     480 non-null    object
 69  49 Mbps     480 non-null    object
 70  50 Mbps     480 non-null    object
 71  51 Mbps     480 non-null    object
 72  52 Mbps     480 non-null    object
 73  54 Mbps     480 non-null    object
 74  55 Mbps     480 non-null    object
 75  56 Mbps     480 non-null    object
 76  58 Mbps     480 non-null    object
 77  59 Mbps     480 non-null    object
 78  60 Mbps     480 non-null    object
 79  61 Mbps     480 non-null    object
 80  62 Mbps     480 non-null    object
 81  63 Mbps     480 non-null    object
 82  64 Mbps     480 non-null    object
 83  65 Mbps     480 non-null    object
 84  66 Mbps     480 non-null    object
 85  67 Mbps     480 non-null    object
 86  68 Mbps     480 non-null    object
 87  70 Mbps     480 non-null    object
 88  71 Mbps     480 non-null    object
 89  75 Mbps     480 non-null    object
 90  77 Mbps     480 non-null    object
 91  78 Mbps     480 non-null    object
 92  80 Mbps     480 non-null    object
 93  81 Mbps     480 non-null    object
 94  83 Mbps     480 non-null    object
 95  82 Mbps     480 non-null    object
 96  86 Mbps     480 non-null    object
dtypes: float64(2), object(95)
memory usage: 367.5+ KB

In [22]:
df5.AÃ±o = df5.AÃ±o.astype(int)
df5.Trimestre = df5.Trimestre.astype(int)

C:\Users\araqu\AppData\Local\Temp\ipykernel_10660\10919172.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\araqu\AppData\Local\Temp\ipykernel_10660\10919172.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
df5 = df5.applymap(lambda x: 0 if str(x) == '- 0' else x)
# cambio todos los ceros a numero

In [25]:
columnas_flotantes = df5.columns.difference(['AÃ±o', 'Trimestre', 'Provincia'])
df5[columnas_flotantes] = df5[columnas_flotantes].applymap(lambda x: str(x).replace(',' , ''))
df5[columnas_flotantes] = df5[columnas_flotantes].applymap(lambda x: str(x).replace('.' , ''))
df5[columnas_flotantes] = df5[columnas_flotantes].astype(int)

In [26]:
df5.head()

,AÃ±o,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps
0,2022,3,Buenos Aires,65821,19,0,0,29774,192,4611,...,3163,0,98387,0,2,223,0,1,0,0
1,2022,3,Capital Federal,105477,31,0,0,451,35,1307,...,3,0,30482,0,0,8,0,0,0,0
2,2022,3,Catamarca,2208,0,0,0,34,37,0,...,0,0,0,0,0,0,0,0,0,0
3,2022,3,Chaco,3711,0,225,111,234,2,0,...,0,0,0,0,0,0,0,0,0,0
4,2022,3,Chubut,20024,8,0,0,69,32,836,...,0,0,0,0,0,0,0,0,0,0

In [27]:
df5.to_csv('./accesos_a_internet_fijo_por_velocidad_bajada__y_provincia.csv', index=False)

In [28]:
df6 = pd.read_csv('./datastreams/06_accesos_a_internet_fijo_por_velocidad_de_bajada_y_localidad.csv')
df6

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps",...,75 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps,100 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,AgustÃ­n Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093,TUCUMAN,TafÃ­ Viejo,Villa Mariano Moreno - El Colmenar,90105100,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,304
3094,TUCUMAN,Trancas,San Pedro de Colalao,90112020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3095,TUCUMAN,Trancas,Villa de Trancas,90112030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3096,TUCUMAN,Yerba Buena,Villa Carmela,90119020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3097,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,176,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"6,556"

In [29]:
columnas_int = df6.columns.difference(['Provincia', 'Partido', 'Localidad', 'Link Indec'])
columnas_int

Index(['0,256 mbps', '0,375 mbps', '0,5 mbps', '0,512 mbps', '0,625 mbps',
       '0,75 mbps', '1 mbps', '1,25 mbps', '1,5 mbps', '10 mbps', '100 mbps',
       '11 mbps', '12 mbps', '13 mbps', '14 mbps', '15 mbps', '16 mbps',
       '17 mbps', '18 mbps', '19 mbps', '2 mbps', '2,2 mbps', '2,5 mbps',
       '20 mbps', '21 mbps', '22 mbps', '23 mbps', '24 mbps', '25 mbps',
       '25,1 mbps', '25,11 mbps', '25,5 mbps', '26 mbps', '3 mbps', '3,3 mbps',
       '3,5 mbps', '30 mbps', '31 mbps', '32 mbps', '34 mbps', '35 mbps',
       '36 mbps', '38 mbps', '39 mbps', '4 mbps', '4,5 mbps', '40 mbps',
       '41 mbps', '45 mbps', '46 mbps', '49 mbps', '5 mbps', '50 mbps',
       '55 mbps', '58 mbps', '59 mbps', '6 mbps', '6,4 mbps', '60 mbps',
       '61 mbps', '62 mbps', '64 mbps', '65 mbps', '66 mbps', '7 mbps',
       '7,5 mbps', '70 mbps', '75 mbps', '78 mbps', '8 mbps', '80 mbps',
       '82 mbps', '83 mbps', '85 mbps', '9 mbps', '90 mbps', '92 mbps',
       '95 mbps', 'Otros'],
      dtype='object')

In [34]:
df6[columnas_int] = df6[columnas_int].applymap(lambda x: str(x).replace(',' , ''))
df6[columnas_int] = df6[columnas_int].applymap(lambda x: str(x).replace('.' , ''))

In [35]:
df6

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps",...,75 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps,100 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,0,00,00,2,00,00,...,0,00,90,00,00,00,00,00,00,0
1,BUENOS AIRES,25 de Mayo,AgustÃ­n Mosconi,6854010,0,00,00,0,00,00,...,0,00,00,00,00,00,00,00,00,0
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,0,00,00,1,00,00,...,0,00,00,00,00,00,00,00,00,0
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,0,00,00,0,00,00,...,0,00,00,00,00,00,00,00,00,0
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,00,00,0,00,00,...,0,00,00,00,00,00,00,00,00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093,TUCUMAN,TafÃ­ Viejo,Villa Mariano Moreno - El Colmenar,90105100,0,00,00,0,00,00,...,0,00,00,00,00,00,00,00,00,304
3094,TUCUMAN,Trancas,San Pedro de Colalao,90112020,0,00,00,0,00,00,...,0,00,00,00,00,00,00,00,00,0
3095,TUCUMAN,Trancas,Villa de Trancas,90112030,0,00,00,0,00,00,...,0,00,00,00,00,00,00,00,00,0
3096,TUCUMAN,Yerba Buena,Villa Carmela,90119020,0,00,00,0,00,00,...,0,00,00,00,00,00,00,00,00,0
3097,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,176,00,00,0,00,00,...,0,00,00,00,00,00,00,00,00,6556

In [37]:
df6[columnas_int] = df6[columnas_int].fillna(0)
df6[columnas_int] = df6[columnas_int].astype(int)

In [38]:
df6.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps",...,75 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps,100 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,0,0,0,2,0,0,...,0,0,90,0,0,0,0,0,0,0
1,BUENOS AIRES,25 de Mayo,AgustÃ­n Mosconi,6854010,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
df6.to_csv('./accesos_a_internet_fijo_por_velocidad_de_bajada_y_localidad.csv',index=False)

In [ ]:
'''
reemplazos = {
    '2019 *': '2019',
    '2020 *': '2020',
    '2021 *': '2021',
    '2022 *': '2022'
}

tecnologias['AÃ±o'] = tecnologias['AÃ±o'].replace(reemplazos)
'''

In [ ]:
'''
df3 = pd.read_csv('./datastreams/03_accesos_a_banda_ancha_y_banda_angosta_por_provincia.csv')
df9 = pd.read_csv('./datastreams/09_ingresos_por_la_operaciÃ³n_del_servicio_de_internet_fijo.csv')
df11 = pd.read_csv('./datastreams/11_penetraciÃ³n_del_internet_fijo_por_provincia_(accesos_por_cada_100_habitantes).csv')
df12 = pd.read_csv('./datastreams/12_penetraciÃ³n_del_internet_fijo_por_provincia_(accesos_por_cada_100_hogares).csv')
df14 = pd.read_csv('./datastreams/14_total_nacional_de_accesos_a_internet_fijo_por_banda_ancha_y_banda_angosta.csv')
df16 = pd.read_csv('./datastreams/16_total_nacional_de_accesos_a_internet_fijo_por_velocidad_de_bajada.csv')
df17 = pd.read_csv('./datastreams/16_total_nacional_de_accesos_a_internet_fijo_por_velocidad_de_bajada.csv')
'''